h2{
  font-size: 23px;
}
.add{
  margin-left: 10px;
}
.content{
  font-size: 18px;
  font-family: sans-serif;
  color:#fff;
  margin-top: 22px;
}
.content button{
  margin-left: 20px;
}
form{
    margin-top: 50px;
   }

.forms{
  margin-top: 150px;
  color: #fff;
}
