<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/app.css')}}" />
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Shopping-List</a>
      </div>
      <ul class="nav navbar-nav  navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#">My list</a></li>
        <li><a href="">New list</a></li>
        <li><a href="#">Update list</a></li>
      </ul>
    </div>
    <div class="row collapse" data-equalizer data-equalize-on="medium">
      <div class="medium-2 columns" id="sidebar" data-equalizer-watch>

      </div>
        <div class="medium-10 columns" data-equalizer-watch">
          {% block pagecontent %}{% endblock%}
        </div>
        </div>
    </div>
  </nav>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{url_for('static', filename='js/app.js')}}"></script>
</body>
</html>
