<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/app.css')}}" />
    <title>Shopping list</title>

  </head>

  <body>
    <div id ='bgimg'>
        <section class="landing-section">
          <div class="container">
            <div class="row text_box">
              <div class="col-md-12">
               <p class="text-medium">Hello! Welcome to Shoping List.</p>
               <p class="text-smaller">Shopping just got better. Dont carry papers no more!</p>
               <br>
               <a href="{{url_for('login')}}" class="btn btn-lg btn-warning"> Get Started!</a>
              </div>
            </div>
          </div>

        </section>
      </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </body>
</html>
