<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/app.css')}}" />
    <title>Shopping list</title>
  </head>
  <style>
    form{
        margin-top: 50px;
       }
    body{
      min-height:100vh;
      background-image:url('../assets/images/im1.jpg');
      background-repeat: repeat-x;
      background-size:cover;
    }
    .back{
      background:linear-gradient(rgba(106,27,154,0.4),rgba(106,27,154,0.4));
      min-height:100vh;
    }
  </style>
  <body>

    <div class="row container">
    <div class="col-md-6 col-md-offset-7 back">
      <h1 class="text-center">Sign Up</h1>
      {% with messages = get_flashed_messages(with_categories=true) %}
  		{% if messages %}
  		{% for category, message in messages %}
      <div class="alert {{category}} fade in">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>{{message}}</strong>
      </div>
   	 	{% endfor %}
   	 	{% endif %}
   	 	{% endwith %}
    <form action="{{url_for("register")}}" method="POST" name="signup">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="name" class="form-control" name="username" placeholder="Username">
      </div>
  <div class="form-group">
    <label for="Email">Email address</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" name="password" minlength="6" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="confpassword">Confirm Password</label>
    <input type="password" class="form-control" name="confpassword" placeholder="Confirm Password">
  </div>
  <button type="submit" class="center btn btn-primary">Sign up</button>
</form>
  </div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
